<div class="container-fluid bg-light p-0 mx-0">
  <div class="text-left">
  <div class="container p-3">
    <h3>
      <strong>Booking Details</strong>
    </h3>
  </div>
    <div class="container p-4">
      <div class="card">
        <td>
        <td>
          <h3><i class="fa fa-heart" aria-hidden="true"></i> Your host is <strong><%= @booking.pokemon.user.name %> </strong></h3>
          </tr>
          <tr>
            <td>
            </td>
            <td>
                <h3><i class="fa fa-bolt" aria-hidden="true"></i> You asked to rent a Pokémon from: <br>&nbsp;<%= @booking.start_date %> to <%= @booking.end_date %> </h3>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <h3><i class="fa fa-dollar-sign"></i> The total price for your booking is: <br> £<%= @booking.pokemon.price %> </h3>
            </td>
          </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
