<div class="hero d-flex justify-content-center align-items-center">
<h1 class="headline position-absolute">Looking for a tag-along?</h1>
<button class="CTA position-absolute btn btn-outline-light">Gotta Rent ’Em All</button>
<%= image_tag("banner2.jpg", class: "banner col-12") %>
</div>
