<div class="hero d-flex justify-content-center align-items-center">
  <div class="hero center position-absolute text-center">
    <h1 class="headline">Looking for a tag-along?</h1>
    <button class="CTA btn btn-outline-light">Gotta Rent ’Em All</button>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
  </div>
  <%= image_tag("banner2.jpg", class: "banner col-12") %>
</div>
