$font-s: 0.6vw;
$font-m: 1vw;
$font-l: 1.4vw;
$font-xl: 3vw;
$font-xxl: 4vw;

.cards .card a img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-bottom: 3px solid rgba(165, 165, 165, 0.438);
}

.card {
  padding: 20px 20px 0px 20px;
  box-shadow: 1px 4px 8px 0px rgba(92, 92, 92, 0.36);
  border: 5px groove  transparent !important;
}

.card#card-highlighter:hover {
  border-radius: 5px;
  border: 5px solid  rgba(255, 55, 95, 1) !important;
  transform: scale(1.10);
  transition: .4s transform cubic-bezier(.155,1.105,.295,1.12),.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card .card-info>a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
}

.card a {
  color: black
}

.card .card-left {
  h2 {
    font-size: $font-m;
    font-style: strong;
  }

  h3 {
    font-size: $font-m;
    opacity: 0.5;
    margin:0;
  }
}

.card-info{
  flex-grow: 1;
}

.card .card-right {
  h2 {
    font-size: $font-m;
    text-decoration: underline;
  }

  h3 {
    font-size: $font-m;
  }
}

.call-to {
  background-color: #FF375F;
  border-radius: 25px;
  color: white;
  padding: 0;

  h3 {
    margin: 0;
    font-size: $font-s;
    padding: 0px 0px 0px 8px;
  }

  #money {
    border: 0px;
    width: 1.5vw;
    padding-right:3px
  }

}


@media(max-width: 1200px) {
  .card .card-left h2 {
    font-size: $font-l;
    font-style: strong;
  }

  .card .card-left h3 {
    font-size: $font-l;
    opacity: 0.5
  }

  .card .card-right h2 {
    font-size: $font-l;
    text-decoration: underline;
  }

  .card .card-right {
    h3 {
      margin: 0;
      font-size: $font-l;
    }
    #money {
      border: 0px;
      width: 4vw;
    }
  }
}

@media(max-width: 920px) {
  .card .card-left h2 {
    font-size: $font-xl;
    font-style: strong;
  }

  .card .card-left h3 {
    font-size: $font-xl;
    opacity: 0.5
  }

  .card .card-right h2 {
    font-size: $font-xl;
    text-decoration: underline;
  }

  .card .card-right {
    h3 {
      margin: 0;
      font-size: $font-xl;
    }
    #money {
      border: 0px;
      width: 5vw;
    }
  }
}

@media(max-width: 600px) {
  .card .card-left h2 {
    font-size: $font-xxl;
    font-style: strong;
  }

  .card .card-left h3 {
    font-size: $font-xxl;
    opacity: 0.5
  }

  .card .card-right h2 {
    font-size: $font-xxl;
    text-decoration: underline;
  }

  .card .card-right {
    h3 {
      margin: 0;
      font-size: $font-xxl;
    }
    #money {
      border: 0px;
      width: 8vw;
    }
  }
}
