.navbar-pokemon {
  justify-content: space-between;
  background: white;
}

.navbar-pokemon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 3vw;
}

.nav-link {
  color: white;
  margin-left: 2vw;
  font-size: 3vmin
}

.nav-link:hover {
  color: #CF374C;
  opacity: 0.7
}
