<div class="js-search" data-controller="search" data-action='input->search#search'>
  <%= simple_form_for :query, url: pokemons_path, remote: true, input_html: { name: 'theForm' }, method: "GET", html: {data: { :"search-target" => "form" },class: 'form-inline col-4 m-auto pt-5 pb-3'} do |f| %>
  <%= f.input :query, placeholder: 'Search by Pokemon, Trainer or Location', label:false, input_html: {:onfocus =>"this.selectionStart = this.selectionEnd = this.value.length",:autofocus => true,:"data-search-target"=>"searchInput",value: @query["query"]} %>
  <%= f.submit "Search", type:"hidden" %>
  <% end %>

  <div class="container-fluid p-0">
    <div class="cards" id="cards" data-search-target="card_populate">
      <%= render 'pokemons/pokemon' %>
    </div>
    </ul>
  </div>
</div>
