

<div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://source.unsplash.com/300x300/?jigglypuff" class="w-100 rounded" alt="poke">
              </div>
              <div class="carousel-item">
                <img src="https://source.unsplash.com/300x300/?pokemon" class="w-100 rounded" alt="poke">
              </div>
              <div class="carousel-item">
                <img src="https://source.unsplash.com/300x300/?pikachu" class="w-100 rounded" alt="poke">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="container">
<div class="card-category p-2">
  <div class="card p-4" style="background-color: #f5f5f5;">
  <div class="poke-title">
    <h1><%= @pokemon.name %></h1>
  </div>
  </div>
  </div>

  <div class="card-category p-2">
  <div class="card p-4" style="background-color: #f5f5f5;">
  <div class="details">
  <h2>A bit more about this Pokemon ...</h2>
    <p><%= @pokemon.description %></p>
     </div>
          </div>
  </div>
    </div>
    </div>
  </div>
    </div>
