<div class="container-fluid bg-light p-2">
<ul>
<%# <% @pokemon.each do |pokemon| %>
<li><%= @pokemon.name %></li>
<li><%= @pokemon.description %></li>
<li><%= @pokemon.bookings %></li>
<%# <% end %>
</ul>
</div>
