<div class="row footer bg-dark p-4 ">
<div class="d-flex flex-column justify-content-center align-items-center ">
<%= image_tag("Logo.png") %>
<h3>Copyright © 2022 </h3>
<h4>Rent-A-Pokemon, Inc</h4>
</div>
</div>
