<div class="footer bg-dark p-4">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center pd-3">
    <%= image_tag("logo.png") %>
    <h3>Copyright © 2022 </h3>
    <h4>Rent-A-Pokemon, Inc</h4>

      <div class="links d-flex p-3">
        <a class="nav-link" href="#">Legal</a>
        <a class="nav-link" href="#">Pokemon-Freedom-Act</a>
        <a class="nav-link" href="#">Cookies</a>
      </div>
  </div>
</div>
