<div class="col-12 footer bg-dark p-2">
  <div class="d-flex flex-column justify-content-center align-items-center pd-3">
    <%= image_tag("logo.png", class:"my-2") %>
    <h3 master-controller-action>Copyright © 2022 </h3>
    <h4>Rent-A-Pokémon, Inc</h4>

    <div class="links d-flex justify-content-center align-items-center">
      <a class="nav-link" href="#">Legal</a>
      <a class="nav-link" href="#">Pokémon-Freedom-Act</a>
      <a class="nav-link" href="#">Cookies</a>
    </div>
  </div>
</div>
